<!-- main app container -->
<div [class.m2app-dark]="isDarkTheme">

<md-toolbar color="primary">
    <span><md-icon>mood</md-icon></span>

    <span>Time Tracker</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Login</button>
    <button md-menu-item>Register</button>
  </md-menu>

    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>